_______________________________________
# npm
---------------------------------------
  ## Logs
    logs
    *.log
    npm-debug.log*
    yarn-debug.log*
    yarn-error.log*

  ## Config: node-waf
    .lock-wscript

  ## Dependency Directories
    node_modules/
    jspm_packages/

  ## Optional Cache Directory: npm
    .npm

  ## Compiled Binary Addons (http://nodejs.org/api/addons.html)
    build/Release

  ## Output: 'npm pack'
    *.tgz

  ## Optional REPL history
    .node_repl_history

  ## Miscellaneous
    npm-debug.log


_______________________________________
# Bower
---------------------------------------
  ## Dependency Directory (https://bower.io/)
    bower_components


_______________________________________
# Yarn
---------------------------------------
  ## Integrity file
    .yarn-integrity


_______________________________________
# Environment Variables
---------------------------------------
    .env


_______________________________________
# IDEs/Editors
---------------------------------------
  ## General
    /.idea
    testem.log
    /typings
    # e2e
    /e2e/*.js
    /e2e/*.map

  ## Miscellaneous
    /.sass-cache
    /connect.lock
    /coverage/*
    /libpeerconnection.log


_______________________________________
# macOS
---------------------------------------
  ## OS
    *.DS_Store
    .AppleDouble
    .LSOverride

  ## System Files
    .DS_Store


_______________________________________
# Angular
---------------------------------------
  ## Compiled Output
    /dist
    /tmp
    /app/**/*.js
    /app/**/*.js.map

  ## dependencies
    /node_modules
    /bower_components


_______________________________________
# Grunt
---------------------------------------
  ## Intermediate Storage (http://gruntjs.com/creating-plugins#storing-task-files)
    .grunt


_______________________________________
# Typescript (v1)
---------------------------------------
  ## Declaration Files
    typings/


_______________________________________
# Miscellaneous
---------------------------------------
  ## Thumbnails
    ._*

  ## Runtime Data
    pids
    *.pid
    *.seed
    *.pid.lock

  ## Directories on Remote AFP Shares
    .AppleDB
    .AppleDesktop
    Network Trash Folder
    Temporary Items
    .apdisk

  ## Files in Root of Volume
    .DocumentRevisions-V100
    .fseventsd
    .Spotlight-V100
    .TemporaryItems
    .Trashes
    .VolumeIcon.icns
    .com.apple.timemachine.donotpresent

  ## Cache: eslint
    .eslintcache

  ## jscoverage/JSCover
    lib-cov

  ## Istanbul
    coverage
    .nyc_output
